.form {
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
  background-color: white;
}

.form__avatar {
  width: 5rem !important;
  height: 5rem !important;
}

.form__control {
  width: calc(100% - 5rem);
}

.form__inputContainer {
  width: 100%;
}

.form__inputContainer input {
  width: 100%;
  padding: 2rem;
  border: none;
  font-size: 1.6rem;
}

.form__buttonContainer {
  display: flex;
  justify-content: space-between;
}

.form__tweetButton {
  background-color: var(--twitter-color) !important;
  border: none !important;
  border-radius: 3rem !important;
  font-size: 1.4rem !important;
  color: white !important;
  font-weight: 600 !important;
  letter-spacing: 0.2rem !important;
}
